<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>ABCHAT - HOME</title>
    <link href="img/favicon.png" rel="SHORTCUT ICON"/>
    </script><link rel="stylesheet" href="css/background.css">
    <script src="js/globalFunctions.js"></script>
	<script src="Conversation.js"></script>
	<script src="ConversationManager.js"></script>
  </head>
  <body>
  <div class="container">
	<!-- HEADER REGION --> 
	<div class=header>
		<div class=headerCenterRegion>
			<a href="index.html"><div class=headerLogo></div><div class=headerText>ABCHAT</div><div class=sloganText>CHAT. COMMUNICATE. COLLABORATE.</div></a>
		</div>
	</div>
	
	<div class=pageIndicator>
		<div class=pageIndicatorCenterRegion>
			<div class=navigation>
				<ul id="TabBar">
					<li><a href="index.html"><div class=currentPage>HOME</div></a></li>
					<li><a href="index.html">MY PROFILE</a></li>
					<li><a href="index.html">TEAM</a></li>
					<li><a href="index.html">ABOUT</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class=topContentSpacer></div>
	
	<!-- CENTER REGION-->
	<div class=contentRegion id="buddy"><div class=contentRegionTop><div class=contentRegionTopLeft></div><div class=contentRegionTopMiddle></div><div class=contentRegionTopRight></div></div>
	    <div class=contentCenterRegionMain><div class=contentCenterRegionMainLeft><div class=contentCenterRegionMainRight>
	      <div class=contentCenter>
		
		<!-- PUT CONTENT HERE -->
		
		<h3>Welcome (Username)!</h3>
		<div class=horizontalRule></div>
		<br/>
		
		<div class=userContainer>
		  <div class=userIcon></div>
		  <div class=userOptions>
			Add Text, Options, or Any Buttons In This Area .................<br/>
			Add Text, Options, or Any Buttons In This Area .................<br/>
			Add Text, Options, or Any Buttons In This Area .................<br/>
			Add Text, Options, or Any Buttons In This Area .................<br/>
			Add Text, Options, or Any Buttons In This Area .................<br/>
			Add Text, Options, or Any Buttons In This Area .................<br/>
		  </div>
		</div>

		<!-- END OF CONTENT AREA -->
		
	      </div><div class=contentSpacerLarge></div><div class=contentSpacerSmall></div></div></div></div>
	      <div class=contentRegionBottom><div class=contentRegionBottomLeft></div><div class=contentRegionBottomMiddle></div><div class=contentRegionBottomRight></div></div>
	      
      	<div class=backToTopContainer></div></div>
		
		<div class=contentRegion id="chat" style="display:none"><div class=contentRegionTop><div class=contentRegionTopLeft></div><div class=contentRegionTopMiddle></div><div class=contentRegionTopRight></div></div>
	    <div class=contentCenterRegionMain><div class=contentCenterRegionMainLeft><div class=contentCenterRegionMainRight>
	      <div class=contentCenter>
		
		<!-- PUT CONTENT HERE -->
		
		<h3 id="ConvHeader">Conversation with (Username)!</h3>
		<div class=horizontalRule></div>
		<br/>
		
		<div class=userChatContainer >
		  <div class=userIcon></div>
		  <div class=userOptions>
			<textarea class="conversationWindow" id = "userChatBody" name="inputtext" readonly="readonly"></textarea>
		  </div>
		</div>
		
		<div class=userMsgContainer>
		  <div class=userIcon></div>
		  <div class=userOptions>
			<textarea class="conversationWindowUserMsg" id = "userMsgBody" name="msgtext"></textarea>
					  <div class=sendButton onclick="manager.sendMessage()"></div>
		  </div>

		</div>

		<!-- END OF CONTENT AREA -->
		
	      </div><div class=contentSpacerLarge></div><div class=contentSpacerSmall></div></div></div></div>
	      <div class=contentRegionBottom><div class=contentRegionBottomLeft></div><div class=contentRegionBottomMiddle></div><div class=contentRegionBottomRight></div></div>
	      <div class=backToTopContainer></div></div>
		  
		<script> manager = new ConversationManager("%USERNAME!!!","userChatBody","userMsgBody",
		function(targetName) {
			var tabBar = document.getElementById('TabBar');
			var newTab = document.createElement('li');
			var newDiv = document.createElement('a');
			var xButton = document.createElement('div');
			
			newTab.appendChild(newDiv);
			newTab.appendChild(xButton);
			
			newDiv.innerHTML = targetName;
			tabBar.insertBefore(newTab, tabBar.firstChild);
			xButton.className = "closeTabButton";
			xButton.onclick = function() { manager.deleteConversation(targetName); };
			newTab.onclick = function() { manager.activateConversation(targetName); };
		},
		function(targetName) {
			document.getElementById("buddy").style.display = '';
			document.getElementById("chat").style.display = 'none';
		},
		function(targetName) {
			document.getElementById("buddy").style.display = 'none';
			document.getElementById("chat").style.display = '';
			document.getElementById('ConvHeader').innerHTML = "Convseration with " + targetName;
		}
		);
		
		</script>
		  
	<!-- FOOTER REGION -->
	<div class=footer><div class=footerContent><p>&copy ABCHAT 2011. Designed By Team ABC.</p></div></div></div>
  </body>
</html>
